{
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "proseWrap": "always",
  "importOrder": [
    "^\\@.*$",
    "^[^@\\.].*$",
    "^\\..*$"
  ],
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ]
}
