{
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "importOrder": ["^\\@.*$", "^[^@\\.].*$", "^\\..*$"],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
