body {
  min-height: 100vh;
  background: var(--background);
  color: var(--text-color);
  font-family:
    Lexend,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Noto Sans',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

:root {
  --background: rgb(252, 251, 245);
  --dark-background: rgb(238, 237, 233);
  --card-background: #f6f6f6;
  --text-color: rgb(21, 21, 21);
  --text-color-disabled: rgba(254, 254, 252, 0.5);
  --input-text-color: rgba(21, 21, 21, 0.6);
  --code-background: rgba(21, 21, 21, 0.05);
  --sidebar-background: rgba(254, 236, 245, 1);
  --border-color: rgba(228, 227, 223);
  --input-background: rgba(240, 223, 233, 1);
  --text-grey-color: #555;
  --border-color: #ddd;
  --green: #01ff70;
  --purple: #8c3a96;
  --white: white;
  --orange: #ff851b;
  --link: #0074d9;
  --disabled: #ddd;
  --text-disabled: #333;
  --secondary: #fced9f;

  --hljs-red: rgb(184, 0, 0);
  --hljs-purple: rgb(132, 0, 255);
  --hljs-blue: rgba(0, 93, 232, 0.99);
  --hljs-yellow: rgb(219, 168, 0);
  --hljs-green: rgb(0, 168, 8);

  --hljs-base: #fafafa;
  --hljs-mono-1: #383a42;
  --hljs-mono-2: #686b77;
  --hljs-mono-3: #a0a1a7;
  --hljs-hue-1: #0184bb;
  --hljs-hue-2: #4078f2;
  --hljs-hue-3: #a626a4;
  --hljs-hue-4: #50a14f;
  --hljs-hue-5: #e45649;
  --hljs-hue-5-2: #c91243;
  --hljs-hue-6: #986801;
  --hljs-hue-6-2: #c18401;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(22, 25, 36);
    --dark-background: rgb(47, 48, 58);
    --card-background: #333;
    --text-color: #aeaeac;
    --input-text-color: rgba(254, 254, 252, 0.6);
    --text-color-disabled: rgba(254, 254, 252, 0.5);
    --code-background: rgba(254, 254, 252, 0.05);
    --sidebar-background: rgb(35, 37, 47);
    --border-color: rgba(254, 254, 252, 0.1);
    --input-background: rgb(57, 59, 68);
    --text-grey-color: #999;
    --border-color: #333;
    --disabled: #444;
    --text-disabled: #555;
    --secondary: #fffbe8;

    --hljs-base: #1e1e1e;
    --hljs-mono-1: #abb2bf;
    --hljs-mono-2: #818896;
    --hljs-mono-3: #5c6370;
    --hljs-hue-1: #56b6c2;
    --hljs-hue-2: #61aeee;
    --hljs-hue-3: #c678dd;
    --hljs-hue-4: #98c379;
    --hljs-hue-5: #e06c75;
    --hljs-hue-5-2: #be5046;
    --hljs-hue-6: #d19a66;
    --hljs-hue-6-2: #e6c07b;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Lexend;
  src: url('/Lexend-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

a {
  color: var(--a-color);
}

@keyframes bg-spin {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
