body {
  min-height: 100vh;
  background: var(--background);
  color: var(--text-color);
  font-family:
    Lexend,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Noto Sans',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji';
}

:root {
  --background: white;
  --card-background: #f6f6f6;
  --border-color: #eee;
  --input-background: #fcfcfc;
  --text-color: #000;
  --text-grey-color: #555;
  --border-color: #ddd;
  --green: #01ff70;
  --purple: #8c3a96;
  --white: white;
  --orange: #ff851b;
  --link: #0074d9;
  --disabled: #ddd;
  --text-disabled: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #292d3e;
    --card-background: #333;
    --border-color: #111;
    --input-background: #121212;
    --text-color: #ccc;
    --text-grey-color: #999;
    --border-color: #333;
    --disabled: #444;
    --text-disabled: #555;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: Lexend;
  src: url('/Lexend-VariableFont_wght.ttf') format('woff2-variations');
  font-weight: 100 1000;
  font-stretch: 25% 151%;
}

a {
  color: var(--a-color);
}

@keyframes bg-spin {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
