search-result:has(:not(:defined)) {
  visibility: hidden;
}

lazy-node:has(:not(:defined)) {
  visibility: hidden;
}

.implementations-pill-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  gap: 6px;
}

.implementations-pill {
  border-radius: 6px;
  width: 8px;
  height: 8px;
}

.implementations-pill-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: end;
}

.search-result {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.search-results-wrapper {
  display: grid;
  padding-right: 48px;
  padding-bottom: 24px;
  gap: 36px;
  grid-template-columns: 300px 1fr;
  justify-items: center;
}

@media (max-width: 700px) {
  .search-results-wrapper {
    grid-template-columns: 1fr;
    padding: 0 24px;
  }
}

.external-icon-wrapper {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.search-details {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @media (max-width: 700px) {
    .search-details {
      flex-direction: column;
    }
  }
}

.search-details-name {
  display: flex;
  gap: 12px;
  align-items: center;
  overflow: hidden;
}

.search-details-arrow-expand {
  appearance: none;
  border: none;
  background: transparent;
  color: var(--input-text-color);
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 12px;
  cursor: pointer;
}

.search-details-arrow-expand[data-opened='True'] svg {
  transform: rotate(180deg);
}

.search-details-arrow-expand svg {
  width: 16px !important;
  height: 16px !important;
  transition: all 0.3s;
}

@media (max-width: 700px) {
  .search-details-arrow-expand span {
    display: none;
  }
}

.search-details-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.qualified-name {
  overflow: hidden;
  text-overflow: ellipsis;
  direction: rtl;
  text-decoration: none;
}

.qualified-name:hover {
  text-decoration: underline;
}

.search-body {
  background: var(--code-background);
  border-radius: 12px;
  padding: 12px 24px;
  border: 1px solid var(--border-color);
}

@media (max-width: 700px) {
  .search-body {
    padding: 9px 12px;
  }
}

.signature {
  white-space: pre-wrap;
  display: block;
  line-height: 1.6;
  overflow: auto;
}

@media (max-width: 700px) {
  .signature {
    font-size: 14px;
  }
}

.documentation {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 6px;
}

.search-result-separator {
  height: 1px;
  background: var(--border-color);
  margin: 6px 0;
}

.documentation-title {
  color: #aeaeac;
}

.search-wrapper {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto auto auto;
  grid-template-areas:
    'title .     .'
    'input input input'
    '. . submit';
  padding: 48px;
  gap: 24px;
  max-width: 700px;
  width: 100%;
  margin: auto;

  @media (max-width: 700px) {
    max-width: vw(100);
    padding: 24px;
    grid-template-areas:
      'title title title'
      'input input input'
      '. . submit';
  }
}

.search-title- {
  font-family: Lexend;
  display: flex;
  align-items: center;
  gap: 12px;
  color: #aeaeac;
}

.search-title {
  font-family: Lexend;
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--text-color);
  font-size: 2.5rem;
}

.search-title-wrapper {
  grid-area: title;
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-size: 0.9rem;
  color: var(--text-color);
  line-height: 1.3;
}

.search-submit {
  grid-area: submit;
  appearance: none;
  border: none;
  background: #ffaff3;
  border-radius: 50px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  padding-left: 24px;
  color: #2f2f2f;
  font-size: 1rem;
  outline: none;
  transition: background 0.3s;
}

.search-submit:active {
  background: #ffaff3;
}

.search-submit:focus {
  background: #ffaff3;
}

.search-submit:disabled {
  background: var(--input-background);
  color: var(--text-color-disabled);
}

.matches-titles {
  line-height: 1.3;
  color: var(--text-color);
  display: flex;
  align-items: baseline;
  gap: 6px;
  font-size: 12px;
}

@media (max-width: 700px) {
  .matches-titles {
    flex-direction: column;
  }
}

.matches-title {
  font-size: 18px;
}

.empty-state {
  grid-area: main;
  display: flex;
  align-items: center;
  gap: 24px;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  margin: auto;
  padding: 24px;
}

.empty-state-lucy {
  width: 100px;
}

.empty-state-titles {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 9px;
  line-height: 1.3;
  max-width: 400px;
}

.empty-state-subtitle {
  font-size: 16px;
  color: #aeaeac;
}

.sidebar-wrapper {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100vh;
  overflow: auto;
  padding: 20px;
  border-right: 1px solid var(--border-color);
  margin-bottom: -24px;
  width: 100%;
  mask: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 0.5% 99.5%,
    rgba(255, 255, 255, 0)
  );
}

@media (max-width: 700px) {
  .sidebar-wrapper {
    display: none;
  }
}

.sidebar-wrapper-title {
  padding: 4px 4px;
  color: var(--text-color);
}

.sidebar-package-name {
  padding-left: 8px;
  border-radius: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar-module-name {
  text-overflow: ellipsis;
  overflow: hidden;
  direction: rtl;
  text-align: left;
  cursor: pointer;
  appearance: none;
  background: inherit;
  border: none;
  color: inherit;
  font-size-: inherit;
  line-height: inherit;
  display: block;
  padding-block: 0;
  padding-inline: 0;
  padding-left: 16px;
}

.sidebar-module-name:hover {
  text-decoration: underline;
}

.sidebar-package-wrapper {
  display: flex;
  flex-direction: column;
  gap: 9px;
  font-size: 14px;
  max-width: calc(300px - 40px);
}

.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.search-sidebar {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  padding: 16px;
  border-right: 1px solid var(--border-color);
  background: var(--sidebar-background);
  width: 270px;
  gap: 16px;
  height: 100vh;
  position: sticky;
  top: 0px;
}

.sidebar-title {
  display: flex;
  align-items: center;
  gap: 16px;
  color: inherit;
  text-decoration: none;
}

.sidebar-title-inside {
}

.form-wrapper {
}

.sidebar-filter {
  padding-top: 12px;
  padding-left: 12px;
  color: var(--input-text-color);
}

.sidebar-filters {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 12px;
}

.sidebar-checkbox-1 {
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.sidebar-checkbox-2 {
  position: fixed;
  top: -1000px;
  width: 1px;
  height: 1px;
}

.sidebar-spacer {
  flex: 1;
}

.filter-separator {
  height: 1px;
  background: var(--border-color);
}

.sidebar-filter-line {
  display: flex;
  gap: 9px;
  cursor: pointer;
  align-items: center;
}

.sidebar-filter-name {
  color: var(-text-color);
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
}

.sidebar-link-wrapper {
  display: flex;
  align-items: baseline;
  gap: 9px;
  text-decoration: none;
  color: inherit;
}

.sidebar-icon {
  width: 12px;
  height: 12px;
}

.sidebar-link {
  font-size: 14px;
  color: var(--input-text-color);
}

.items-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
  max-width: 800px;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 700px) {
  .items-wrapper {
    gap: 18px;
  }
}

.named-type-button {
  color: #e5c07b;
}

.search-title-with-hint {
  display: flex;
  gap: 12px;
}

.pre-alpha-title {
  font-size: 16px;
}

.loading-trending {
}

.no-trendings {
}

.trendings-wrapper {
  padding: 12px 48px;
}

.trendings-title {
  margin-bottom: 24px;
}

.trendings-grid {
  display: grid;
  /* // grid-template-columns : repeat(auto-fill, minmax(350px, 1fr)); */
  align-items: start;
  gap: 24px;
}

.trendings-card {
  background: #584355;
}

.documentation-links {
  display: flex;
  justify-content: space-between;
}

.licenses {
  display: flex;
  gap: 6px;
}

.footer-search {
  grid-area: footer;
  position: sticky;
  bottom: 0px;
  padding: 12px;
  background-color: var(--background);
  border-top: 1px solid var(--border-color);
  margin-top: 24px;
}

.search-result-empty-callout {
  border: 1px solid var(--border-color);
  padding: 12px;
  border-radius: 6px;
  background: var(--sidebar-background);
  color: var(--input-text-color);
  font-size: 0.8rem;
  line-height: 1.6;
  font-weight: 400;
}

.analytics-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 2.5rem;
  line-height: 1.75;
  width: 250px;
  height: 250px;
  justify-content: space-between;
  flex-shrink: 0;
}

.analytics-title {
  font-size: 1rem;
}

.analytics-box-wrapper {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
